li:first-child:not(.spade){
    background-color: #ff3300;
}

li:not(.ace):not(.diamond):nth-child(4){
    background-color: #339933;
}

li.heart:not(:first-child):not(.queen):not(.jack){
    background-color: #0099ff;
}