body {
    width: 1440px;
    margin: auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    /* top: 50%;
    left: 50%; */
}

a {
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline;
}

.main-header {
    display: inline-block;
}

.main-footer{
    padding: 25px;
    background-color: #575757;
}

.footer-navigation{
    width: 70%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    color: white;
    border-bottom: 1px solid #9A9A9A;
}

.footer-navigation::after{
    box-sizing: border-box;
}

.footer-navigation-item{
    margin: 20px;
    color: lightgray;
}

.reviews-item {
    display: inline-block;
    text-align: left;
    justify-content: center;
    min-height: 379px;
    max-width: 370px;
    margin-right: 29px;
}

.reviews-link {
    font-size: 20px;
    font-weight: bold;
}

.reviews-link:hover {
    color: rgb(206, 135, 2);
}

.social-list {
    display: block;
}

.social-list-item {   
    background-color: white;
    margin: 10px;
    padding: 10px;
    
}

.visually-hidden{
    visibility: hidden;
}

.site-navigation li {
    text-transform: uppercase;
}

.site-navigation-item{
    margin:30px;
}

.headline > h2{
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    top:200px;
    color:orange;
    text-transform: uppercase;
    font-size: 76px;
    margin:0px; 
}

.headline{
    height:564px;
    padding: 0px;
    bottom: 180px;
}

.headline > p{
    position: relative;
    bottom:130px;
    color:orange;
    max-width: 498px;
    margin:auto;
    text-align: center;
    line-height: 2;
}

.promo{
    background-color: lightgray;
}
.promo-item{
    margin-bottom: 20px;
}

.promo > h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
}

.promo-item > h3{
    font-weight: bold;
}